.yujia{font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    text-indent: 2em;}
.lose{ text-align: center;line-height: 100px;}
.cecoloe{background: #999999;}
.dewr{margin-left:180px;}
.dewr a{ margin-right:20px; padding:5px 30px;}
